*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    display: flex;
    margin-bottom: 50px;
}
.healthy-food{
    width: 40%;
    height: 500px;
    margin-left: 7%;
    margin-top: 200px;
}
.female-food{
    width: 40%;
    height: 600px;
    margin-left: 7%;
    margin-top: 100px;
}
.healthy-food h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(tomato ,orange);
    padding: 12px 20px;
    border-radius: 50px;
}
.female-food img{
    height: 100%;
    width: 100%;
}
.about-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
.female-bg{
    height: 100%;
    width: 30%;
    margin-left: 15%;
}
.female-bg img{
    height: 450px;
    width: 75%;
    margin-top: 100px;
}
.about-me{
    height: 100%;
    width: 30%;
    margin-left: 10%;
    color: #575757;
}
.about-me h1{
    font-size: 40px;
}